@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

.parent_chat {
  width: 25vw;
  height: 80vh;
  background-color: white;
  position: fixed;
  bottom: 0;
  z-index: 100;
  margin-left: 25rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.child_chat {
  height: 10vh;
  display: flex;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.user_profile_chat {
  width: 20%;
  cursor: pointer;
}
.profile_chat {
  width: 30px;
  height: 30px;
  display: flex;
}
.profile_chat img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.chat_person_name {
  width: 20%;
  margin-right: 3rem;
}
.call_video_cancel_icons {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.IoIosCall {
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  color: rgb(151, 151, 151);
}
.BsCameraVideoFill {
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  color: rgb(151, 151, 151);
}
.MdClear {
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  color: rgb(151, 151, 151);
}
.MdClear:hover {
  background-color: #e4e6eb;
}
.BsCameraVideoFill:hover {
  background-color: #e4e6eb;
}
.IoIosCall:hover {
  background-color: #e4e6eb;
}
.chat_messages {
  width: 25vw;
}
.chat_messages > p {
  font-weight: normal;

  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.message_receive {
  width: 70%;
  background-color: #e4e6eb;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  margin-top: 10px;
  margin-left: 1rem;
  font-size: 10px;
}
.message_send {
  width: 70%;
  background-color: #1877f2;
  color: white;
  margin-left: 3.5rem;
  margin-top: 10px;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  font-size: 10px;
}
