.story {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
}
.story_body {
  margin: 0 0.2rem;
}
#create_story_section {
  height: 35vh;
  background-color: white;
}
#story_id {
  height: 25vh;
}
#story_id > img {
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
#story_id > img:hover {
  transform: scale(1.01);
  overflow: hidden;
}
#create_stoty {
  position: absolute;
  top: 0;
  left: 50;
  transform: translate(70%, 350%);
  color: white;
  font-weight: 600;
}
#create_story {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50;
  transform: translate(50%, 340%);
  background-color: #1877f2;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
#create_a_story {
  color: black;
  width: 60px;
  position: absolute;
  top: 0;
  left: 50;
  transform: translate(5%, 430%);
  font-size: 12px;
  text-align: center;
  margin-top: 0.5rem;
  line-height: 14px;
}
.story_post {
  height: 35vh;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.story_post > img {
  width: 100%;
  height: 100%;
  image-resolution: 100%;
  object-fit: cover;

  overflow: hidden;
}
.story_post > img:hover {
  transform: scale(1.01);
}
.story_user {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50;
  transform: translate(30%, 80%);
}
.story_user > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #1877f2;
}
.story_username {
  position: absolute;
  top: 0;
  left: 50;
  transform: translate(5%, 800%);
  color: white;
  font-weight: 500;
  font-size: 12px;
  width: 70px;
}
.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 32.3rem;
  transform: translate(500%, 220%);
  background-color: white;
  border-radius: 50%;
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(97, 86, 86);
  cursor: pointer;
  margin-left: -25px;
}
